body {
    font-family: sans-serif;
    background-color: #BCB0CC;
    margin-top: 60px;
}

.links { font-family: sans-serif;
    background-color: #BCB0CC;
    margin-top: 60px;
    margin-left: 35px;
}

.center {
    margin-top: 80px;
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.text-med{
    margin-top:90px;
    font-size: 200%;
}

.img-medium {
   height: 200px;
    position: relative;
    top: -40px;
}

.img-small {
    
    height:100px;
}

.img-contact
{ height: 20px;
    position: relative;
    top: 6px;}

.topcorner{
   position:absolute;
   top:0;
   right:0;
  }

